<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="orientation" value="landscape" />
    <preference name="fullscreen" value="true" />

    <!-- versionCode is optional and Android only -->

    <name>Phaser Hello World</name>

    <description>
        A test using the Phaser.js framework. 
    </description>

    <author href="https://www.markduiker.com" email="mark@markduiker.com">
        Mark Duiker
    </author>

    <access origin="*" />

</widget>